@import "./theme.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fefdfc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

@font-face {
  font-family: "latin";
  src: url("../public/fonts/latin.woff2");
}
@font-face {
  font-family: "cascadia code";
  src: url("../public/fonts/CascadiaCode.ttf");
}
@font-face {
  font-family: "popins-bold";
  src: url("../public/fonts/popins-bold.woff2");
}
@font-face {
  font-family: "popins-thin";
  src: url("../public/fonts/popins-thin.woff2");
}
