@import "~styles/theme";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
  title {
    display: block;
    position: absolute;
    top: 20px;
    font-size: 40px;
    font-family: popins-bold;
    font-feature-settings: "kern";
    font-weight: 700;
    line-height: 1.35;
  }
  section {
    margin: 20px;
  }
}
